<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hifacy.nelikeme">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.LikeMeEN"
        tools:targetApi="32">
        <activity
            android:name=".activities.ResultActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.FluidWallpaper.FullScreen">
        </activity>
        <activity
            android:name=".activities.OnBoardingActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.FluidWallpaper.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4960215252946139~7798149338" />

    </application>

</manifest>